<div class = "container">
  <%= render 'layouts/navbar' %>
</div>

<div class="container">
  <div class="row clearfix">

    <div class="column two-thirds">
      <div class="hero">
      </div>
    </div>

    <div class="column third">
      <div id="t1"> Popular Topics:
      </div>
      <div class="trending" id="t2">
        <div class="left_trending">
          <div class="numberCircle1">1
          </div>
        </div>
        <div class="right_trending">
          <div class="category">
          <% @posts.each do |post|%>
          <hr>
            <%= post.category %>
          <hr>
          <% end %>
          </div>
          <div class="title">How to find the right music teacher</div>
        </div>
      </div>
      <div class="trending" id="t3">
        <div class="left_trending">
          <div class="numberCircle2">2
          </div>
        </div>
        <div class="right_trending">
          <div class="category">Legends</div>
          <div class="title">John Mayer talks about learning guitar</div>
        </div>
      </div>
      <div class="trending" id="t4">
        <div class="left_trending">
          <div class="numberCircle3">3
          </div>
        </div>
        <div class="right_trending">
          <div class="category">Instruments</div>
          <div class="title">What is the right piano for beginners?</div>
        </div>
      </div>
      <div class="trending" id="t5">
        <div class="left_trending">
           <div class="numberCircle4">4
           </div>
        </div>
        <div class="right_trending">
          <div class="category">MusicEd</div>
          <div class="title">Studies reveal new benefits of music</div>
        </div>
      </div>
    </div>

  </div>
  <br />
  <div class="row clearfix">
    <div class = "bottom_bar">
      <div class="column fourth">
        <div class= "last_top" id="blog1">
        </div>
        <div class="last_bottom1">
          <div class="title_bottom">Learning violin today</div>
          <div class="teaser">Figuring out how our brains work is key to understanding</div>
        </div>
      </div>
      <div class="column fourth">
        <div class= "last_top" id="blog2">
        </div>
        <div class="last_bottom2">
          <div class="title_bottom">Summertime Living</div>
          <div class="teaser">Get outside and enjoy your life. Tips for a great summer!</div>
        </div>
      </div>
      <div class="column fourth">
        <div class= "last_top" id="blog3">
        </div>
        <div class="last_bottom1">
          <div class="title_bottom">Taking advantage of bad weather</div>
          <div class="teaser">A list of the best things to do when the weather is crummy</div>
        </div>
      </div>
      <div class="column fourth">
        <div class= "highlight_top">
          The sunglasses that make the world look like Instagram
        </div>
        <div class="highlight_bottom">
          <div class="author">By Jason Hunt</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <%= render 'layouts/footer' %>
</div>





