<div class = "container">
  <%= render 'layouts/navbar' %>
</div>

<div class="container">
  <div class="row clearfix">

    <div class="column two-thirds">
      <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 400px; overflow: hidden;">
          <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 400px;">
            <div><a u="image" href="../posts/1"><img src="../../assets/guitar.jpg"/></a></div>
            <div><a u="image" href="../posts/2"><img src="../../assets/brains.jpg"/></a></div>
            <div><a u="image" href="../posts/3"><img src="../../assets/john_mayer.jpg"/></a></div>
            <div><a u="image" href="../posts/4"><img src="../../assets/piano.jpg"/></a></div>
        </div>
          <!-- Arrow Navigator Skin Begin -->
           <span u="arrowleft" class="jssora02l"
            style="width: 55px; height: 55px; top: 122px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora02r"
            style="width: 55px; height: 55px; top: 122px; right: 8px;">
            </span>
           <!-- Arrow Navigator Skin End -->
      </div>
    </div>

    <div class="column third">
      <div id="t1"> Popular Topics:
      </div>
      <% @post1.each do |post|%>
      <div class="trending" id="t2">
        <div class="left_trending">
          <div class="numberCircle1">
          </div>
        </div>
        <div class="right_trending">
          <div class="category">
            <%= post.category %> <br />
          </div>
          <div class="title">
            <%= post.title %>
          </div>
        </div>
      </div>
        <% end %>
    </div>
  </div>

  <br />
  <div class="row clearfix">
    <div class = "bottom_bar">
      <div class="column fourth">
        <div class= "last_top" id="blog1">
        </div>
        <div class="last_bottom1">
          <div class="title_bottom">Learning violin today</div>
          <div class="teaser">Figuring out how our brains work is key to understanding</div>
        </div>
      </div>
      <div class="column fourth">
        <div class= "last_top" id="blog2">
        </div>
        <div class="last_bottom2">
          <div class="title_bottom">Summertime Living</div>
          <div class="teaser">Get outside and enjoy your life. Tips for a great summer!</div>
        </div>
      </div>
      <div class="column fourth">
        <div class= "last_top" id="blog3">
        </div>
        <div class="last_bottom1">
          <div class="title_bottom">Taking advantage of bad weather</div>
          <div class="teaser">A list of the best things to do when the weather is crummy</div>
        </div>
      </div>
      <div class="column fourth">
        <div class= "highlight_top">
          The sunglasses that make the world look like Instagram
        </div>
        <div class="highlight_bottom">
          <div class="author">By Jason Hunt</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <%= render 'layouts/footer' %>
</div>





