// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Kreon:300,400);
$mainfont:'Kreon', serif;

.numberCircle {
    border-radius: 50%;

    height: 30px;
  	width: 30px;
  	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
 		border-radius: 50%; /* may require vendor prefixes */
    font: 18px $mainfont, sans-serif;
    color: #FFF;
    position: relative;
}

.numberCircle1 {
	@extend .numberCircle;
	background: #631576;
}

.numberCircle2 {
	@extend .numberCircle;
	background: #241DC7;
}

.numberCircle3 {
	@extend .numberCircle;
	background: #00AD74;
}

.numberCircle4 {
	@extend .numberCircle;
	background: #C9509F;
}

.left_trending{
	width: 20%;
	height: 100%;
	float: left;
}

.right_trending{
	width: 75%;
	height: 100%;
	float: right;
}

.category{
	font-size: 14px;
}

.title{
	font-size: 12px;
}

.last_top {
	height: 75px;
	width: 100%;
	border-radius: 3%;
}

.last_bottom1 {
	height: 75px;
	width: 100%;
	background-color: #3B3E4C;
	border-radius: 3%;
	color: #FFF;
	padding: 5% 0%;
}

.last_bottom2 {
	height: 75px;
	width: 100%;
	border-radius: 3%;
	padding: 5% 0%;	
	background-color: #F3F4F8;
}

.title_bottom{
	text-align: center;
	font-size: 10px;
}

.teaser{
	text-align: center;
	font-size: 9px;
	color: #6A6D7B;
}

@media only screen and (max-width: 639px) {
	.column.fourth{
		margin: 5% auto;
	}
	.hero {
		height: auto;
		background-attachment: fixed;
	}
	#t1 {
		margin: 3% 0;
	}
}


#blog1 {
	background: url('../../assets/violin.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

#blog2 {
	background: url('../../assets/palms.png') no-repeat;
	background-size: cover;
	background-position: center center;
}

#blog3 {
	background: url('../../assets/rain.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

.highlight {
	width: 100%;
	border-radius: 3%;
	color: #FFF;
	background: #631576;
	text-align: center;
}

.highlight_top {
	height: 120px;
	@extend .highlight;
	font-size: 14px;
	padding: 10% 5%;
}

.highlight_bottom {
	height: 30px;
	border-top: 1px solid #FFF;
	@extend .highlight;
}

.author{
	font-size: 10px;
	padding: 5% 0 0 0;
}

.show_category{
	width: 10%;
	font-size: 12px;
	margin: 2% auto;
	text-align: center;
	border: 1px solid #F3F4F8;
	border-radius: 3%;
}

.show_title{
	width: 90%;
	font-size: 24px;
	margin: 2% auto;
	text-align: center;
}

.show_content{
	width: 60%;
	font-size: 16px;
	margin: 5% auto;
	text-align: center;
}

.jssora02l, .jssora02r {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url('../../assets/a20.png') no-repeat;
	overflow: hidden;
}

.show_photo {
	position: relative;
	text-align:center;
	margin: 0 auto;
}

