 <div class="footer">
    <div class ="nav_links">
    	<%= link_to 'Log Out',session_path(:id), method: :delete %>
    </div>
    <div class ="nav_links">
		<%= link_to 'Log In',new_session_path %>
		</div>
		<div class ="log_in">
		Signed in as: <%#= current_user.email %>
		</div>
 </div>
