 <div class="top_navbar">
    <img src = '../../assets/lessonlodge-icon.png' class="logo">
    <div class ="nav_links">
    	<%= link_to 'Log Out',session_path(:id), method: :delete %>
    </div>
    <div class ="nav_links">
		<%= link_to 'Log In',new_session_path %>
		</div>
		<h3 class= "lodgelife">LodgeLife</h3>
 </div>